#kartta {
    margin-top: 1em;
    margin-left: 7em;
    margin-right: 7em;
    width: 90%;
    height: 60em;
    margin-bottom: 1em;
    position: relative;
    border-radius: 25px;
    border: 4px solid black;
    z-index: 0;
}

#teksti {
    margin-left: 6.4em;
    width: 20em;
}

html {
    background-color: white;
}

body {
    margin-left: 0;
    margin-right: 0;
    background-image: url("../Pictures/helsinki-cathedral-4189824_1920.jpg");
    background-attachment: fixed;
}

.karttanappi {


}

.infodiv {
    width: 1400px;
    border: 4px solid black;
    border-radius: 25px;
    padding: 20px;
    overflow: hidden;
    margin-top: 1.4em;
    margin-left: 1.4em;
    background-color: #FFFFEE;
}

.infodiv:not(:last-child) {
    margin-bottom: 1.4em;
}

#paaotsikko {
    margin-top: 0;
    margin-bottom: 0.3em;
    margin-left: 0.3em;
    padding-top: 1.3em;
    font-weight: bold;
    font-size: 50px;
    font-style: italic;
    text-shadow: 1px 1px 2px #FFFFFF;
}

.nimi {
    font-weight: bold;
    text-decoration: underline;
    font-size: 22px;
}

.osoite {
}

.selostus {
    font-style: italic;

}

.kuva {
    width: 20%;
    height: 20%;
    margin-left: 1em;
    margin-right: 2em;
    margin-bottom: 1em;
    float: left;
    box-shadow: 10px 10px 10px black;
}

.tulokset {
    margin-left: 0.5em;
    font-size: 35px;
    text-shadow: 1px 1px 2px #FFFFFF;
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    z-index: 2;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    border-right: 1px solid #FFF;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

.active-page {
    background-color: blue;
}

input {
    border: 2px solid black;
    border-radius: 4px;
    padding: 12px 20px;
}

button {
    margin-left: 0.2em;
    margin-right: 0.2em;
    border-radius: 12px;
    padding: 10px 24px;
}

#nappi {
    background-color: #c4c4fe;
    color: black;
    border: 4px solid blue;
}
#nappi2 {
    background-color: #ffc4c4;
    color: black;
    border: 4px solid red;
}

#nappi3 {
    background-color: #c4fdc4;
    color: black;
    border: 4px solid #4CAF50;
}

#nappi4 {
    background-color: #c4fdc4;
    color: black;
    border: 4px solid #e0e000;
}

#nappi5 {
    background-color: #c4fdc4;
    color: black;
    border: 4px solid #4CAF50;
}

#nappi6 {
    background-color: #CCCCCC;
    color: black;
    border: 4px solid #444444;
}

#kirkko {
    margin-top: 1em;
    margin-left: 1em;
    width: 625px;
    height: 500px;
    margin-bottom: 1em;
    float: right;
}

hr {
    height: 2.2px;
    background-color: black;
}

iframe {
    margin-top: 3em;
    width: 848px;
    height: 500px;
}

span {

}



